<%= form_for @todo do |t| %>
    <% if @todo.errors.any? %>
        <div id="error_explanation">
            <h2>
        <%= pluralize(@todo.errors.count, "error") %> prohibited
        this todo from being saved:
      </h2>
      <ul>
        <% @todo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
        </div>
    <% end %>
    <div class="form-group row">
    <%= t.label :title, class: "col-form-label col-2" %>
    <%= t.text_field :title, class: "form-control col-10" %>
    </div>
    <div class="form-group row">
        <%= t.label :description, class: "col-form-label col-2" %>
        <%= t.text_field :description, class: "form-control col-10" %>
    </div>
    <div class="form-group row">
        <%= t.label :due, class: "col-form-label col-2" %>
        <%= t.datetime_local_field :due, class: "form-control col-10" %>
    </div>
    <%= t.submit "Submit Todo", class: "btn btn-success" %>
    <%= link_to 'Back', todos_path, class: "btn btn-danger" %>
<% end %>
