        <h1 class="text-uppercase"><i class="fa fa-check-circle-o"></i> Tasks</h1>
        <hr />
        <table class="table table-responsive table-condensed table-striped text-center">
            <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Due</th>
                </tr>
            </thead>
            <tbody>
                <% @todos.each do |todo| %>
                    <tr>
                        <td><%= todo.name %></td>
                        <td><%= todo.desc %></td>
                        <td><%= todo.due ? todo.due : "" %></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Toggle done">
                                <%= link_to '<i class="fa fa-edit"></i>'.html_safe, todo.url,
                                    class: "btn btn-warning" %>
                                <%= link_to '<i class="fa fa-check"></i>'.html_safe, trello_done_path(id: todo.id), class: "btn btn-success" %>
                                <%= link_to '<i class="fa fa-trash"></i>'.html_safe, trello_delete_path(id: todo.id),
                                    data: { confirm: 'Are you sure?' },
                                    class: "btn btn-danger"%>
                        </div>
                        </td>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"><%= link_to 'Create New Task', new_todo_path, class: "btn btn-success mb-3" %></td>
                </tr>
            </tfoot>
        </table>
    
